<h1>Math me!</h1>

<h3>Calulate with modulus, subtract, add, divide, and multply</h3>

<h3>You have 2 options for entering in your url to math!</h3>
<h4>option 1 example: <pre><a href="/#/add?x=4&y=10">/#/add?x=4&y=10</a></pre></h4>
<h4>option 2 example: <pre><a href="/#/add/12/12">/#/add/12/12</a></pre></h4>

<div ng-show="show">
  <h2>Answer</h2>
  <div class="jumbotron">
    <h3>If I {{operator}} {{param1}} and {{param2}} I get {{solution}}!</h3>
    <h4>A'int that just fancy!</h4>
  </div>
</div>